* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-content {
  flex-grow: 1;
  background-color: #F2BE5C;
}